<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright (c) 2021 Naval Group SA.
    All right reserved. This program and the accompanying materials are made 
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    Contributors:
        Obeo - initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.navalgroup.capella.permission" name="com.navalgroup.capella.permission" schema="schema/com.navalgroup.capella.permission.exsd"/>
	<extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.navalgroup.capella.permission.PermissionStartup">
      </startup>
   </extension>
</plugin>
