<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright (c) 2021 Naval Group SA.
    All right reserved. This program and the accompanying materials are made 
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    Contributors:
        Obeo - initial API and implementation
-->
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.navalgroup.capella.cross.analysis.design.CrossAnalysisDesignPlugin$Implementation"
               id="com.navalgroup.capella.cross.analysis.design"
	       name="crossAnalysis">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="com.navalgroup.capella.cross.analysis.design.handlers.InitCrossLayersDiagramHandler"
           commandId="com.navalgroup.capella.cross.analysis.design.init.cross.layer.diagram">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="com.navalgroup.capella.cross.analysis.design.init.cross.layer.diagram"
           name="Init CLD (cross layer diagram)">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu
              icon="icons/crossAnalysis.png"
              id="com.navalgroup.capella.cross.analysis.design.menu"
              label="%cross.analysis.menu.label">
           <command
                 commandId="com.navalgroup.capella.cross.analysis.design.init.cross.layer.diagram"
                 icon="icons/initCLD.gif"
                 label="%cross.analysis.action.init.cld.label"
                 style="push"
                 tooltip="%cross.analysis.action.init.cld.tooltip">
           </command>
           <visibleWhen
                 checkEnabled="false">
                 <and>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <and>
                           <test
                                 forcePluginActivation="true"
                                 property="com.navalgroup.capella.cross.analysis.design.test.canInitCrossLayersDiagram">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </and>
           </visibleWhen>
        </menu>
     </menuContribution>
  </extension>
  <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.navalgroup.capella.cross.analysis.design.property.testers.CanInitCrossLayersDiagram"
            id="com.navalgroup.capella.cross.analysis.design.test.canInitCrossLayersDiagram"
            namespace="com.navalgroup.capella.cross.analysis.design.test"
            properties="canInitCrossLayersDiagram"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.navalgroup.capella.permission">
      <permission
            class="com.navalgroup.capella.permission.DefaultPermission"
            key="capella.permission.default"
            priority="0">
      </permission>
   </extension>
</plugin>
